In [1]:
myset = {1,2,32,5}

In [2]:
myset

{1, 2, 5, 32}

## 1.`add()`

In [3]:
myset.add(100)

In [4]:
myset

{1, 2, 5, 32, 100}

## 2.`Set difference()`

In [8]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8,9,10}
set1.difference(set2) # set1-set2

{1, 2, 3}

## 3. `discard()`

In [9]:
set1.discard(1)

In [10]:
print(set1)

{2, 3, 4, 5}

## 4. `difference_update()`

In [11]:
# Makes the set diff inplace
set1.difference_update(set2)
print(set1)

{2, 3}

In [13]:
set1.add(4)

## 5. `intersection()`

In [14]:
set1.intersection(set2)

{4}

## 6. `isdisjoint()`. In mathematics, two sets are said to be disjoint sets if they have no element in common.

In [15]:
set1.isdisjoint(set2)

False

In [16]:
set1

{2, 3, 4}

In [17]:
set2

{4, 5, 6, 7, 8, 9, 10}

In [ ]:
Similarly there exists issubset, issuperset,union